<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MovieTime</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <style type="text/css">
    #contacts p,
    #contacts p.lead {
      margin: 0;
    }

    .authenticated {
      display: block;
      margin-top: 20px;
      margin-bottom: 10px;
    }

    .unauthenticated {
      display: none;
    }

    .modal-header:last-child {
      border-bottom: 0;
    }
  </style>
</head>

<body data-gr-c-s-loaded="true" class="">
  <div class="container">
    <span class="userAuth authenticated pull-right">
      <button type="button" id="reg" class="btn btn-primary" data-toggle="modal" data-target="#registerModal" style="visibility: visible;">Register</button>
      <button type="button" id="log" class="btn btn-success" data-toggle="modal" data-target="#loginModal" style="visibility: visible;">Login</button>
      <button id="doLogout" class="btn btn-action hide">Logout</button>
    </span>
    <h1>MovieTime</h1>
    <hr>
    <div class="row unauthenticated">
      <center>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addContactModal">Add Contact</button>
      </center>
      <div class="col-md-6">
        <ul id="contacts" class="list-group">
          <!-- Conatct Object li.list-group-item.contact will be added here by js -->
        </ul>
      </div>
    </div>
  </div>

  <div id="content" style="display: none;">


  </div>

  <!--register modal-->
  <form action='/register' method='post'>
    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="Register" aria-hidden="true" style="display: none;">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="registerModalLabel">Register</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="recipient-name" class="control-label">Name:</label>
              <input type="text" class="form-control" name="regName" id="registerName">
            </div>
            <div class="form-group">
              <label for="recipient-name" class="control-label">Email:</label>
              <input type="text" class="form-control" name="regEmail" id="registerEmail">
            </div>
            <div class="form-group">
              <label for="message-text" class="control-label">Password:</label>
              <input type="password" class="form-control" name="regPass" id="registerPassword">
            </div>
            <div class="form-group">
              <label for="message-text" class="control-label">Confirm Password:</label>
              <input type="password" class="form-control" name="regConfPass" id="registerConfirmPassword">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" id="doRegister">Register</button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <!--login modal-->
  <form action='/login' method='post'>
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true" style="display: none;">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title" id="loginModalLabel">Login</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="recipient-name" class="control-label">Email:</label>
              <input type="text" class="form-control" name="loginEmail">
            </div>
            <div class="form-group">
              <label for="message-text" class="control-label">Password:</label>
              <input type="password" class="form-control" name="loginPassword">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" id="doLogin">Login</button>
          </div>
        </div>
      </div>
    </div>
  </form>


  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <!-- Latest compiled and minified Bootstrap -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <!-- Include Firebase Library -->
  <script src="https://www.gstatic.com/firebasejs/4.1.1/firebase.js"></script>
  <!-- Contacts Store JavaScript -->

</body>

</html>